.c-avatar {
    width: 3rem;
    height: 3rem;
    background-color: var(--bs-gray-300);
    border-radius: 50%;
    overflow: hidden;

    background-image: url("/img/noavatar.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.c-avatar img {
    width: 100%;
    height: auto;
}

.c-user:hover {
    cursor: pointer;
    background-color: var(--bs-gray-200);
}

.c-profile-button {
    min-width: 6.5em;
}

.c-profile-button.c-unfollow>span:before {
    content: "Following";
}

.c-profile-button.c-unfollow:hover {
    background-color: var(--bs-danger-bg-subtle);
    border-color: var(--bs-danger-border-subtle) !important;
}

.c-profile-button.c-unfollow:hover>span:before {
    color: var(--bs-danger);
    content: "Unfollow";
}