.c-status:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.01);
}

.c-status-avatar {
    width: 3rem;
    height: 3rem;
    background-color: var(--bs-gray-300);
    border-radius: 50%;
    overflow: hidden;

    background-image: url("/assets/media/noavatar.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.c-status-avatar img {
    width: 100%;
    height: auto;
}

.c-status-buttons>div {
    width: 5em;
}

.c-status-button {
    text-align: left;
    line-height: 1.25em;
    padding: 0.25em;
    border-radius: 3em;
    color: var(--bs-secondary)
}

.c-status-button:hover {
    background-color: var(--bs-secondary-bg-subtle);
}

.c-status-like {
    color: var(--bs-danger) !important;
}

.c-status-like:hover {
    background-color: var(--bs-danger-bg-subtle);
}

.c-thread-line {
    margin: 0 auto;
    min-height: 1em;
    width: 2px;
    background-color: var(--bs-dark-border-subtle);
}

.c-thread-line#thread-line-before {
    transform: translate(0, -1px);
}

.c-thread-line#thread-line-after {
    transform: translate(0, 1px);
}

.c-thread-line.c-hidden {
    width: 0;
}

#status-content,
#main-status-content {
    white-space: pre-wrap;
}